@import url(../src/components/Cards/Cards.css);
@import url(../src/components/Header/Header.css);
@import url(../src/components/Footer/Footer.css);
@import url(../src/components/Pagination/Pagination.css);
@import url(../src/components/Sidebar/Sidebar.css);
@import url(../src/utils/radar.css);
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  background-color: #f2f2f2;
  font-family: Work Sans, sans-serif;
}

.App {
  display: grid;
  grid-template-rows: 20vh 1fr;
  padding-top: 1vh;
}

.pokemonImageContainer {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  margin: 2vh 5vw;
  margin-bottom: 0;
  background-color: #fef7f5;
  border-radius: 12px 12px 0 0;
  padding: 5vh 5vw;
  column-gap: 3vw;
  row-gap: 3vh;
}

.emptySidebar {
  background-color: #f2f2f2;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
